RdsDBSubnetGroup(
    description: "Database subnet group for backend.autoschematic.sh",
    subnet_ids: [
        "out://aws/vpc/us-east-1/vpcs/autoschematic-ecs/subnets/alpha.ron[subnet_id]",
        "out://aws/vpc/us-east-1/vpcs/autoschematic-ecs/subnets/beta.ron[subnet_id]",
    ],
)