S3Bucket(
    policy: None,
    public_access_block: PublicAccessBlock(
        block_public_acls: true,
        ignore_public_acls: true,
        block_public_policy: true,
        restrict_public_buckets: true,
    ),
    acl: Acl(
        owner_id: "f802d8d1412f2c17cb689dcaa5b11c3f7545c31e3e692b7e637bc4bd195c0005",
        grants: [
            Grant(
                grantee_id: "f802d8d1412f2c17cb689dcaa5b11c3f7545c31e3e692b7e637bc4bd195c0005",
                permission: "FULL_CONTROL",
            ),
        ],
    ),
    tags: {
    },
)