OutputMap({
    "load_balancer_arn": "arn:aws:elasticloadbalancing:us-east-1:467992565187:loadbalancer/app/backend-autoschematic-sh/98b14e3f2d116541",
    "dns_name": "backend-autoschematic-sh-2044489579.us-east-1.elb.amazonaws.com",
    "load_balancer_name": "backend-autoschematic-sh",
})