SecurityGroup(
    description: "default VPC security group",
    ingress_rules: [
        SecurityGroupRule(
            protocol: "-1",
            from_port: None,
            to_port: None,
            cidr_blocks: [],
            security_group_ids: [
                "sg-086d74b27348a2e72",
            ],
        ),
    ],
    egress_rules: [
        SecurityGroupRule(
            protocol: "-1",
            from_port: None,
            to_port: None,
            cidr_blocks: [
                "0.0.0.0/0",
            ],
            security_group_ids: [],
        ),
    ],
    tags: {},
)