IamRole(
    attached_policies: [
        "arn:aws:iam::aws:policy/aws-service-role/AmazonECSServiceRolePolicy",
    ],
    assume_role_policy_document: {
        "Statement": [
            {
                "Action": "sts:AssumeRole",
                "Effect": "Allow",
                "Principal": {
                    "Service": "ecs.amazonaws.com",
                },
            },
        ],
        "Version": "2012-10-17",
    },
    tags: {},
)