RouteTable(
    routes: [
        Route(
            destination_cidr_block: "10.32.0.0/16",
            destination_ipv6_cidr_block: None,
            gateway_id: "local",
            instance_id: None,
            nat_gateway_id: None,
        ),
    ],
    associations: [
        "rtbassoc-0c83e7eb09e314139",
    ],
    tags: {},
)