S3Bucket(
    policy: {
        "Statement": [
            {
                "Action": "s3:*",
                "Condition": {
                    "Bool": {
                        "aws:SecureTransport": "false",
                    },
                },
                "Effect": "Deny",
                "Principal": "*",
                "Resource": "arn:aws:s3:::graphql-server-demo-dev-serverlessdeploymentbucke-1ai8yiclei4vu/*",
            },
        ],
        "Version": "2008-10-17",
    },
    public_access_block: None,
    acl: Acl(
        owner_id: "f802d8d1412f2c17cb689dcaa5b11c3f7545c31e3e692b7e637bc4bd195c0005",
        grants: [
            Grant(
                grantee_id: "f802d8d1412f2c17cb689dcaa5b11c3f7545c31e3e692b7e637bc4bd195c0005",
                permission: "FULL_CONTROL",
            ),
        ],
    ),
    tags: {
        "aws:cloudformation:stack-name": "graphql-server-demo-dev",
        "aws:cloudformation:logical-id": "ServerlessDeploymentBucket",
        "aws:cloudformation:stack-id": "arn:aws:cloudformation:eu-west-2:467992565187:stack/graphql-server-demo-dev/56181880-9ad6-11ea-a054-06bdd06f2a66",
        "STAGE": "dev",
    },
)