S3Bucket(
    policy: None,
    public_access_block: None,
    acl: Acl(
        owner_id: "f802d8d1412f2c17cb689dcaa5b11c3f7545c31e3e692b7e637bc4bd195c0005",
        grants: [
            Grant(
                grantee_id: "f802d8d1412f2c17cb689dcaa5b11c3f7545c31e3e692b7e637bc4bd195c0005",
                permission: "FULL_CONTROL",
            ),
        ],
    ),
    tags: {},
)