TargetGroup(
    protocol: "HTTP",
    port: 8080,
    vpc_id: "out://aws/vpc/us-east-1/vpcs/autoschematic-ecs.ron[vpc_id]",
    target_type: "ip",
    health_check: HealthCheck(
        enabled: true,
        protocol: "HTTP",
        port: "traffic-port",
        path: "/health",
        interval_seconds: 30,
        timeout_seconds: 5,
        healthy_threshold_count: 5,
        unhealthy_threshold_count: 2,
    ),
    targets: [
        "10.32.1.194",
    ],
    tags: {},
)