RouteTable(
    routes: [
        Route(
            destination_cidr_block: "0.0.0.0/0",
            destination_ipv6_cidr_block: None,
            gateway_id: "igw-1ef5f866",
            instance_id: None,
            nat_gateway_id: None,
        ),
        Route(
            destination_cidr_block: "172.31.0.0/16",
            destination_ipv6_cidr_block: None,
            gateway_id: "local",
            instance_id: None,
            nat_gateway_id: None,
        ),
    ],
    associations: [
        "rtbassoc-4dcd5933",
    ],
    tags: {},
)