SecurityGroup(
    description: "launch-wizard-4 created 2022-05-20T22:13:58.602Z",
    ingress_rules: [
        SecurityGroupRule(
            protocol: "tcp",
            from_port: 8000,
            to_port: 8000,
            cidr_blocks: [
                "0.0.0.0/0",
            ],
            security_group_ids: [],
        ),
        SecurityGroupRule(
            protocol: "tcp",
            from_port: 22,
            to_port: 22,
            cidr_blocks: [
                "51.6.99.226/32",
            ],
            security_group_ids: [],
        ),
    ],
    egress_rules: [
        SecurityGroupRule(
            protocol: "-1",
            from_port: None,
            to_port: None,
            cidr_blocks: [
                "0.0.0.0/0",
            ],
            security_group_ids: [],
        ),
    ],
    tags: {},
)