Distribution(
    enabled: true,
    default_root_object: "index.html",
    origins: [
        Origin(
            id: "S3-hanzipalace.com",
            domain_name: "hanzipalace.com.s3.amazonaws.com",
            origin_path: "",
            custom_origin_config: None,
            s3_origin_config: S3OriginConfig(
                origin_access_identity: "",
            ),
            origin_access_control_id: "",
        ),
    ],
    aliases: [
        "hanzipalace.com",
    ],
    default_cache_behavior: CacheBehavior(
        id: "658327ea-f89d-4fab-a63d-7e88639e58f6",
        path_pattern: None,
        target_origin_id: "S3-hanzipalace.com",
        viewer_protocol_policy: "redirect-to-https",
        allowed_methods: [
            "HEAD",
            "GET",
        ],
        cached_methods: [
            "HEAD",
            "GET",
        ],
        compress: false,
        ttl_settings: TtlSettings(
            default_ttl: None,
            max_ttl: None,
            min_ttl: None,
        ),
    ),
    cache_behaviors: [],
    comment: "",
    price_class: "PriceClass_100",
    tags: {},
)