RecordSet(
    ttl: None,
    alias_target: AliasTarget(
        dns_name: "out://aws/elb/us-east-1/load_balancers/backend-autoschematic-sh.ron.ron[dns_name]",
        hosted_zone_id: "Z35SXDOTRQ7X7K",
        evaluate_target_health: false
    ),
    resource_records: None
)