Repository(
    encryption_configuration: EncryptionConfiguration(
        encryption_type: "AES256",
        kms_key: None,
    ),
    image_tag_mutability: "IMMUTABLE",
    image_scanning_configuration: ImageScanningConfiguration(
        scan_on_push: true,
    ),
    tags: {},
)