CachePolicy(
    name: "Managed-Amplify-ImageOptimization-V2",
    comment: "Amplify cache policy for image optimization",
    default_ttl: 0,
    max_ttl: 31536000,
    min_ttl: 0,
    parameters_in_cache_key_and_forwarded_to_origin: None,
)