Vpc(
    cidr_block: "172.31.0.0/16",
    instance_tenancy: "default",
    enable_dns_support: true,
    dhcp_options_id: "dopt-f8d0ab83",
    enable_dns_hostnames: true,
    tags: {
        "fuck": "ass",
    },
)