TaskDefinition(
    task_role_arn: "arn:aws:iam::467992565187:role/cluster_test_test_client_task_role",
    execution_role_arn: "arn:aws:iam::467992565187:role/cluster_test_execution_role",
    network_mode: "awsvpc",
    container_definitions: [
        ContainerDefinition(
            name: "backend",
            image: "467992565187.dkr.ecr.ap-southeast-2.amazonaws.com/backend.autoschematic.sh:0.3.1",
            cpu: 256,
            memory: 512,
            memory_reservation: None,
            links: [],
            port_mappings: [
                PortMapping(
                    container_port: 8080,
                    host_port: 8080,
                    protocol: "tcp",
                ),
            ],
            essential: true,
            entry_point: [],
            command: [],
            environment: [
                KeyValuePair(
                    name: "DATABASE_AUTH_MODE",
                    value: "IAM",
                ),
                KeyValuePair(
                    name: "DATABASE_NAME",
                    value: "autoschematic"
                ),
                KeyValuePair(
                    name: "DATABASE_USERNAME",
                    value: "autoschematic"
                ),
                KeyValuePair(
                    name: "DATABASE_HOSTNAME",
                    value: "out://aws/rds/us-east-1/instances/backend-autoschematic-sh.ron[endpoint]"
                ),
                KeyValuePair(
                    name: "DATABASE_PORT",
                    value: "5432",
                ),
                KeyValuePair(
                    name: "DATABASE_MAX_CONNS",
                    value: "1000",
                ),
                KeyValuePair(
                    name: "FRONTEND_URL",
                    value: "https://autoschematic.sh",
                ),
                KeyValuePair(
                    name: "GITHUB_OAUTH_REDIRECT_URL",
                    value: "https://backend.autoschematic.sh/api/auth/oauth/callback",
                ),
                // KeyValuePair(blank
                    //     name: "GITHUB_OAUTH_SECRET",
                    //     value: "blank",
                // ),
                // KeyValuePair(
                    //     name: "SESSION_SECRET",
                    //     value: "blaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaank",
                // ),
            ],
            environment_files: [],
            mount_points: [],
            volumes_from: [],
            linux_parameters: None,
            secrets: [
                Secret(
                    name: "GITHUB_OAUTH_CLIENT_ID",
                    value_from: "arn:aws:secretsmanager:us-east-1:467992565187:secret:ecs/backend.autoschematic.sh-O1o5Un:GITHUB_OAUTH_CLIENT_ID::"
                ),
                Secret(
                    name: "GITHUB_OAUTH_SECRET",
                    value_from: "arn:aws:secretsmanager:us-east-1:467992565187:secret:ecs/backend.autoschematic.sh-O1o5Un:GITHUB_OAUTH_SECRET::"
                ),
                Secret(
                    name: "SESSION_SECRET",
                    value_from: "arn:aws:secretsmanager:us-east-1:467992565187:secret:ecs/backend.autoschematic.sh-O1o5Un:SESSION_SECRET::"
                ),
            ],
            depends_on: [],
            start_timeout: None,
            stop_timeout: None,
            hostname: None,
            user: None,
            working_directory: None,
            disable_networking: None,
            privileged: None,
            readonly_root_filesystem: None,
            dns_servers: [],
            dns_search_domains: [],
            extra_hosts: [],
            docker_security_options: [],
            interactive: None,
            pseudo_terminal: None,
            docker_labels: {},
            ulimits: [],
            // log_configuration: None,
            log_configuration: LogConfiguration(
                    log_driver: "awslogs",
                    options: {
                        "awslogs-group": "/ecs/backend_autoschematic_sh",
                        "awslogs-region": "us-east-1",
                        "awslogs-stream-prefix": "backend"
                    },
                    secret_options: []
            ),
            health_check: None,
            system_controls: [],
            resource_requirements: [],
            firelens_configuration: None,
        ),
    ],
    volumes: [],
    placement_constraints: [],
    requires_compatibilities: [
        "FARGATE",
    ],
    cpu: "256",
    memory: "512",
    pid_mode: None,
    ipc_mode: None,
    proxy_configuration: None,
    runtime_platform: None,
)
