Vpc(
    cidr_block: "172.16.0.0/16",
    instance_tenancy: "default",
    enable_dns_support: true,
    dhcp_options_id: "dopt-2fb4dd47",
    enable_dns_hostnames: false,
    tags: {
        "Name": "tf-example",
    },
)